
/* 입력 필드 컨테이너 */
.signup-input-container {
    position: relative;
    margin-bottom: 15px; /* 필드 간 간격 유지 */
    transition: margin-bottom 0.2s ease; /* 경고문구로 인한 변화 부드럽게 처리 */
}

.signup-password-wrapper {
    position: relative; /* 비밀번호 토글 버튼 위치 설정 */
    display: flex;
    align-items: center;
}

.signup-input {
    width: 100%;
    padding: 17px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    position: relative;
    transition: border-color 0.3s ease, transform 0.2s ease;
    background: none;
}

.signup-input:focus{
    border-color: #13569e;
    outline: none;
    padding-top: 25px;
    padding-bottom: 10px;
}

.signup-input:not(:placeholder-shown) {
    padding-top: 25px;
    padding-bottom: 10px;
}

    /* 라벨 스타일 */
.signup-label {
    position: absolute;
    top: 15px; /* 입력 필드 내부의 초기 위치 (상단 패딩에 맞춤) */
    left: 15px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.2s ease, top 0.2s ease;
}

/* 입력 시 라벨 이동 효과 */
.signup-input:focus + .signup-label,
.signup-input:not(:placeholder-shown) + .signup-label {
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: #13569e;
}

/* 에러 메시지 */
.signup-error {
    color: red;
    font-size: 14px;
    margin-top: 7px;
    margin-left: 5px;
    text-align: left;
    transition: opacity 0.2s ease, height 0.2s ease; /* 경고문구 나타날 때 애니메이션 */
    opacity: 0;
    height: 0;
    overflow: hidden;
}

/* 에러 메시지 표시 상태 */
.signup-input-container.error .signup-error {
    opacity: 1;
    height: auto; /* 높이 동적으로 조정 */
}

/* 버튼 스타일 */
.signup-button-container {
    margin-top: 50px;
}

.signup-button-container button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #5e768f;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button-container button:hover {
    background-color: #314e65;
}
